:root {
  --branding-color: #ac5980;
  --secondary-color: #ccd5ae;
  --creamscape-color: #fefae0;
  --darkscape-color: #495057;
  --color-olive: #a9b08763;
  --color-two: #d7cbffa6;
  --color-three: #dac9dba6;
  --heading-font-family: "Poiret One", cursive;
  --primary-font-family: "Poppins", sans-serif;
}

.hero {
  padding: 60px 6px 40px 2px;
  background-color: var(--color-olive);
}

.bottom-strip,
.bottom-strip-blogs {
  text-align: center;
  padding-bottom: 100px;
}

.top-strip,
.bottom-strip {
  background-color: var(--color-olive);
}
.top-strip {
  padding: 20px 6px 10px 2px;
}

@media (max-width: 899px) {
  .hero h2,
  .project-list h2 {
    font-size: 24px;
    line-height: 34px;
  }
  .hero h1 {
    font-size: 54px;
  }
  .btn-branding-margin {
    margin-top: 60px;
  }

  p,
  h1,
  h2 {
    margin-left: 10px;
  }
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bolder;
  font-size: 64px;
}

h2,
h3 {
  font-size: 34px;
  font-weight: lighter;
  line-height: 65px;
}
h2 {
  margin-bottom: 60px;
}

@media (max-width: 576px) {
  .numeral {
    text-align: left;
  }
}
p {
  font-weight: 400px;
  color: var(--darkscape-color);
}
p,
h2,
h3 {
  font-family: var(--primary-font-family);
}
h3 {
  padding-top: 43px;
}

a {
  color: var(--branding-color);
}
a:hover {
  color: var(--darkscape-color);
}
.btn-branding {
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #e8ebd7bb;
  color: var(--branding-color);

  border: 0.3px solid;
  border-color: var(--branding-color);
  opacity: 90%;
  box-shadow: 1px 1px#4950574b;
}

.btn-branding:hover {
  color: var(--darkscape-color);
  border-color: var(--darkscape-color);
  text-decoration: none;
}

.numeral {
  font-family: var(--heading-font-family);
  font-size: 80px;
  color: var(--color-two);
  padding-right: 20%;
}
