:root {
  --branding-color: #ac5980;
  --secondary-color: #ccd5ae;
  --creamscape-color: #fefae0;
  --darkscape-color: #495057;
  --color-olive: #a9b08763;
  --color-two: #d7cbffa6;
  --color-three: #dac9dba6;
  --heading-font-family: "Poiret One", cursive;
  --primary-font-family: "Poppins", sans-serif;
}

.hero {
  padding: 60px 6px 40px 2px;
}
.hero,
.hero-secondary-page {
  background-color: var(--color-olive);
}

.top-strip,
footer {
  background-color: var(--color-olive);
}
.top-strip {
  padding: 20px 6px 10px 2px;
}
div .projects-container {
  padding: 20px;
}
footer {
  padding-bottom: 5px;
  margin-bottom: 15px;
}
footer .contact-icons a {
  font-size: 24px;
  margin: 0 5px;
  background: white;
  border-radius: 50%;
  padding: 5px 10px;
  border: solid;
  border-width: 1px;
}
footer .contact-icons a:hover {
  color: var(--color-olive);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bolder;
  font-size: 64px;
}

h2,
h3 {
  font-size: 34px;
  font-weight: lighter;
  line-height: 65px;
}
h3 {
  padding-top: 43px;
}

p,
h2,
h3 {
  font-family: var(--primary-font-family);
}
p,
.hero-secondary-page p {
  font-weight: 400px;
  color: var(--darkscape-color);
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 899px) {
  .hero h2,
  .project-list h2,
  .hero-secondary-page h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .hero h1,
  .hero-secondary-page h1 {
    font-size: 54px;
  }
  .btn-branding-margin {
    margin-top: 60px;
  }

  p,
  h1,
  h2 {
    margin-left: 10px;
  }
  .hero p,
  .project-list p,
  .hero-secondary-page p,
  #contact p {
    font-size: 16px;
  }
  div .numeral-one {
    margin-left: 20px;
  }
}

@media (max-width: 576px) {
  div .numeral {
    text-align: left;
    font-size: 34px;
    padding-left: 0px;
  }
  footer p,
  .hero-secondary-page div p {
    font-size: 14px;
  }
  h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

a {
  color: var(--branding-color);
}
a:hover {
  color: var(--darkscape-color);
  transition: all 120ms ease-in-out;
}
.btn-branding {
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #e8ebd7bb;
  color: var(--branding-color);

  border: 0.3px solid;
  border-color: var(--branding-color);
  opacity: 90%;
  box-shadow: 1px 1px#4950574b;
}

.btn-branding:hover {
  color: var(--darkscape-color);
  border-color: var(--darkscape-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.numeral {
  font-family: var(--heading-font-family);
  font-size: 80px;
  color: var(--color-two);
  padding-right: 20%;
}

.hero-secondary-page a {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
