:root {
  --branding-color: #c499ba;
  --secondary-color: #ccd5ae;
  --creamscape-color: #fefae0;
  --darkscape-color: #495057;
  --heading-font-family: "Poiret One", cursive;
  --primary-font-family: "Poppins", sans-serif;
}

.hero {
  padding: 90px 6px 60px 2px;
  background-color: var(--creamscape-color);
}

.bottom-strip {
  text-align: center;
  padding-bottom: 100px;
}

.top-strip,
.bottom-strip {
  background-color: var(--creamscape-color);
}
.top-strip {
  padding: 20px 6px 10px 2px;
}

@media (max-width: 899px) {
  .coder-image {
    display: none;
  }
  .btn-branding-margin {
    margin-top: 60px;
  }
}
@media (max-width: 900px) {
  .coder-image {
    width: 100px;
  }
  p,
  h1,
  h2 {
    margin-left: 10px;
  }
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bolder;
  font-size: 64px;
}

h2,
h3 {
  font-size: 34px;
  font-weight: lighter;
  line-height: 65px;
}
h2 {
  margin-bottom: 60px;
}
@media (max-width: 576px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .numeral {
    text-align: left;
  }
}
p {
  font-weight: 400px;
  color: var(--darkscape-color);
}
p,
h2,
h3 {
  font-family: var(--primary-font-family);
}
h3 {
  padding-top: 43px;
}

a {
  color: var(--branding-color);
}

.btn-branding {
  border-radius: 4px;
  padding: 10px 20px;
  background-color: white;
  color: var(--branding-color);
  text-decoration: none;
  border: 0.3px solid;
  border-color: var(--branding-color);
}

.btn-branding:visited {
  color: var(--darkscape-color);
  border-color: var(--darkscape-color);
  text-decoration: none;
}

.numeral {
  font-family: var(--heading-font-family);
  font-size: 80px;
  color: var(--secondary-color);
  padding-right: 20%;
}
